{% from "./partials/nav.njk" import "nav" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metalsmith | {% if collection and "news" in collection %}News - {{ title }}
      {% elif collection and "docs" in collection %}Docs - {{ title }}
      {% elif slug %}{{ slug | capitalize }}{% endif %}
    </title>
    <meta name="description" content="{{ description }}"/>
    <meta name="node" content="{{ nodeVersion }}"/>
    <meta name="generator" content="metalsmith"/>
    {% if favicons and favicons.html %}
      {% for tag in favicons.html %}
        {{ tag | safe }}
      {% endfor %}
    {% endif %}
    <link rel="favicon" href="{{ siteUrl }}/favicons/favicon.png">
    <link rel="mask-icon" href="{{ siteUrl }}/favicons/safari_pinned_tab.svg" color="beige">
    <link rel="stylesheet" href="/index.css?{{ buildTimestamp }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Antonio:wght@600&&family=Inconsolata&display=swap">
    <link rel="stylesheet" href="//cdn.symbolset.com/94440cd0456394a198fb9c3302ad80fe007e5eff/symbolset.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/tomorrow.min.css" media="print" onload="this.media='all'">
    {% include "./partials/facebook.njk" %}
    {% include "./partials/x.njk" %}
    {% include "./partials/analytics.njk" %}
    <meta name="google-site-verification" content="2RKFuZol3mkMgto2Y0TUZUmzMpWZ-Ck-7HjocBHpJtE"/>
  </head>
  <body class="Page{% if slug %} Page--{{ slug }}{% endif %}{% if collection and "docs" in collection %} Page--docs{% endif %}{% if config and config.anchors %} Page--anchors{% endif %}">

    <header class="Page-header">
      {% block top %}
        {{ nav(slug, variant='dark', socials=true) }}
      {% endblock %}
    </header>

    {% block main %}
      <main class="Page-body">
        {% if collection and "news" in collection %}
        <article>
        <time class="Page-pubdate" datetime='{{ pubdate | formatDate("iso")}}'>{{ pubdate | formatDate }}</time>
        {% endif %}

        <h1 class="Page-title">{{ title }}</h1>

        {# backlink #}
        {% if collection and "news" in collection %}
        <a class="Page-backlink" href="/news">&larr; News overview</a>
        {% elif collection and "docs" in collection %}
        <a class="Page-backlink" href="/docs">&larr; Docs overview</a>
        {% endif %}

        {# table of contents #}
        {% if toc %}
          <aside>
            <h2>Contents</h2>
          {{ toc | safe }}
          </aside>
        {% endif %}

        {{ contents | safe }}

        {% if collection and "news" in collection %}
        </article>
        <aside class="Page-related">
          <div style="margin-bottom: 0.5rem;">Go to related</div>
          {% if previous %}
          <a style="float: left; color: var(--color-dark-gray);" href='/{{ previous.permalink | replace("+", ".")}}'>&larr; Previous: {{ previous.title }}</a>
          {%endif%}
          {% if next %}
          <a style="float: right; color: var(--color-dark-gray);" href='/{{ next.permalink | replace("+", ".")}}'>Next: {{ next.title }} &rarr;</a>
          {% endif %}
        </aside>
        {% endif %}
      </main>
    {% endblock %}

    <div class="CookieBanner">
      <a href="" class="CookieBanner-close">&times;</a>
      <small>{{ cookieMessage }}</small>
    </div>

     <footer class="Page-footer">
      {#{% from "./partials/svg/metalsmith.svg.njk" import "metalsmithLogo" %}
      {{ metalsmithLogo("Page-footerLogo") | safe }} #}
      <small>&copy; <span itemprop="copyRightYear">2021</span>, <span itemprop="copyRightHolder">webbketje</span>. Content licensed under <a href="http://creativecommons.org/licenses/by/4.0/" itemprop="license">Creative Commons</a>, their respective authors</small>
    </footer>
    {% block scripts %}{% endblock %}
    <script type="text/javascript" src="/index.js"></script>
  </body>
</html>