<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if htmltitle %}{{ htmltitle }}{% else %}{{ title }}{% endif %}</title>
  <meta name="description" content="{{ description }}" />
  <meta name="node" content="{{ nodeVersion }}" />
  {% if favicons and favicons.html %}
    {% for tag in favicons.html %}
      {{ tag | safe }}
    {% endfor %}
  {% endif %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
  <link rel="stylesheet" href="/index.css">
  {% include "./partials/facebook.njk" %}
  {% include "./partials/twitter.njk" %}
  {% include "./partials/analytics.njk" %}
  <meta name="google-site-verification" content="2RKFuZol3mkMgto2Y0TUZUmzMpWZ-Ck-7HjocBHpJtE" />
  <link
    rel="stylesheet"
    href="//cdn.symbolset.com/94440cd0456394a198fb9c3302ad80fe007e5eff/symbolset.css"
  >
  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/tomorrow.min.css"
  >
</head>
<body class="home">
  <header class="Header">
    <nav class="Header-nav">
      <ul>
        <li class="Header-navlink"><a href="/#introduction">Docs</a></li>
        <li class="Header-navlink"><a href="/#api">API</a></li>
        <li class="Header-navlink"><a href="/#the-community-plugins">Plugins</a></li>
      </ul>
    </nav>
    <h1 class="Header-title Header--home">
      <a class="Header-link" href="/">{{ title }}</a>
    </h1>
    <p class="Header-subtitle">{{ description | safe }}</p>
    <a class="Header-github" href="https://github.com/segmentio/metalsmith">Star on GitHub</a>
    <a class="Header-gitter" href="https://gitter.im/metalsmith/community">Join the Gitter community</a>
  </header>
  <section class="Body">
    <hr>
    <iframe frameborder="0" width="100%" height="500px" src="https://repl.it/@webketje/metalsmith-starter-resume?embed=true"></iframe>
    {% block main %}
      {{ contents | safe }}
    {% endblock %}
  </section>
  <script type="text/javascript" src="/index.js"></script>
</body>
</html>
