{% extends "./default.njk" %}
{% from "./partials/nav.njk" import "nav" %}
{% from "./partials/svg/metalsmith.svg.njk" import "metalsmithLogo" %}

{% block top %}
  {{ nav(slug, logo=false, socials=true) }}
{% endblock %}

{% block main %}
  <div class="Banner">
    <div class="Banner-content">
      <h1 class="Banner-title">
        <a class="Banner-permalink" href="/">{{ metalsmithLogo("Banner-logo") | safe }}</a>
      </h1>
      <p class="Banner-tagline">{{ description }}</p>
      <a class="Banner-action" href="/docs/getting-started/">Get Started</a>
    </div>
  </div>
  <main class="Page-body">
    {{ contents | safe }}
  </main>
{% endblock %}
