
/**
 * Variables.
 */

:root {
  var-white: #fefefe;
  var-light-gray: #ededed;
  var-gray: #a3a3a4;
  var-dark-gray: #4a4848;
  var-black: #262727;
  var-gold: #daae20;

  var-sentinel: "Sentinel SSm A", "Sentinel SSm B", "Sentinel", "Georgia", sans-serif;
  var-tungsten: "Tungsten A", "Tungsten B", "Tungsten", "Impact", sans-serif;
  var-source-code: "Source Code", monospace;

  var-multiplier: 1.25;
  var-smaller: calc(1em / var(multiplier));
  var-larger: calc(1em * var(multiplier));
}

/**
 * Base.
 */

html {
  overflow-x: hidden;
}

body {
  font: 500 18px/1.6 var(sentinel);
  color: var(dark-gray);
  background: url('images/ground.jpg') var(light-gray);
  box-sizing: border-box;
}

h1 {
  font-size: 2.5em;
  margin-bottom: .5em;
  font-family: var(tungsten);
  text-transform: uppercase;
  color: var(black);
  text-align: center;
}

p {
  margin: 1em 0;
}

p a {
  text-decoration: underline;
  color: var(black);
}

p a:hover {
  color: #000;
}

figure {
  margin: 1.5em 0;
}

ol {
  margin: 1em 0 1em 2.5em;
  list-style: decimal outside;
  font-size: var(smaller);
}

pre {
  font: 300 var(smaller)/1.2 var(source-code);
  position: relative;
  background-color: var(white);
  border-left: 3px solid color(var(gray) tint(50%));
  padding: 1.5em 2em;
  overflow: hidden;
}

pre + pre {
  margin-top: 1px;
}

code b {
  color: var(black);
}

code i {
  color: var(gold);
  font-style: normal;
}

/**
 * Symbolset.
 */

[class*="ss-"]::before {
  color: var(gold);
  font-size: 1.2em;
  position: relative;
  top: .2em;
  padding-right: .4em;
}

/**
 * Highlight.
 */

.Highlight-boolean,
.Highlight-class,
.Highlight-keyword {
  font-weight: bold;
}

.Highlight-string {
  color: var(gold);
}

/**
 * Example.
 */

.Examples {
  transition: .4s all ease;
}

.Example-list {
  overflow: hidden;
  width: 9999em;
}

.Example + .Example {
  margin-left: 1px;
}

.Example {
  padding: 2em;
  background-color: white;
  width: 17em;
  float: left;
}

.Example-title {
  font-size: 1.5em;
  margin-bottom: .75em;
  text-align: center;
}

.Example-step-list {
  list-style: none;
  line-height: 2;
  margin: 0;
}

/**
 * Plugin.
 */

.Plugin + .Plugin {
  margin-top: 1px;
}

.Plugin {
  position: relative;
  padding: 1.5em 2em;
  background-color: white;
}

.Plugin-title {
  font-size: 1.5em;
  margin-bottom: .25em;
  text-align: left;
}

.Plugin-icon {
  font-size: .7em;
  color: var(gold);
  margin-left: .4em;
}

.Plugin-icon::before {
  top: .075em;
}

.Plugin-description {
  font-size: .85em;
  margin: 0;
}

.Plugin-repository {
  display: none;
  position: absolute;
  top: 2.1em;
  right: 2.7em;
  font-size: .8em;
  color: color(var(gray) tint(60%));
}

.Plugin:hover .Plugin-repository {
  display: block;
}

/**
 * Header.
 */

.Header {
  padding-top: 5em;
  text-align: center;
}

.Header-title {
  font-size: 4em;
}

.Header-subtitle {
  font-size: 1.2em;
}

.Header-github {
  display: block;
  position: absolute;
  top: 3em;
  right: -6.5em;
  padding: .4em 1em;
  width: 15em;
  text-align: center;
  background-color: var(black);
  text-transform: uppercase;
  font-family: var(tungsten);
  font-size: .9em;
  color: var(white);
  text-decoration: none;
  white-space: nowrap;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  transition: background-color .2s;
}

.Header-github:hover {
  background-color: var(gold);
}

/**
 * Body.
 */

.Body {
  max-width: 34em;
  margin: 0 auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/**
 * Dividers.
 */

hr {
  border: none;
  height: 200px;
  width: 300px;
  margin: 5em auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

hr:nth-of-type(1) {
  background-image: url('images/small-divider-retina-1.png');
}

hr:nth-of-type(2) {
  background-image: url('images/small-divider-retina-2.png');
}

hr:nth-of-type(3) {
  background-image: url('images/small-divider-retina-3.png');
}

hr:nth-of-type(4) {
  background-image: url('images/small-divider-retina-4.png');
}

hr:nth-of-type(5) {
  background-image: url('images/small-divider-retina-5.png');
}

/**
 * Footer.
 */

.Footer {
  text-align: center;
  padding-bottom: 6em;
}

.Footer-conjunction {
  display: block;
  text-transform: uppercase;
  font-family: var(tungsten);
  color: var(gray);
  font-size: var(smaller);
}

.Footer-logo {
  font-size: 1.6em;
}

/**
 * Large screens.
 */

@media (min-width: 768px) {

  body {
    font-size: 18px;
  }

  .Header {
    padding-top: 15em;
  }

  .Header-github {
    top: 2.5em;
    right: -4.75em;
  }

}
