
.carousel {
  overflow: hidden;
  position: relative;
}

.carousel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel li {
  padding: 0;
  margin: 0;
  background: #fff;
  display: none;
  position: relative;
}

.carousel .carousel-active,
.carousel .carousel-prev,
.carousel .carousel-next {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}

.carousel .carousel-prev,
.carousel .carousel-next {
  position: absolute;
}

.carousel .carousel-active {
  left: 0;
  z-index: 10;
}

.carousel .carousel-prev {
  left: -100%;
  z-index: -10;
}

.carousel .carousel-next {
  left: 100%;
  z-index: -10;
}
