
.logo[data-logo="Metalsmith"] {
  width: 3.685249955183008em;
}

.logo[data-logo="Metalsmith"] > * {
  background-image: url(images/logo.svg);
  margin: .1em 0;
}

.logo[data-logo="Metalsmith"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Metalsmith"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}