<script async src="https://www.googletagmanager.com/gtag/js?id=G-PH9MZFQLJE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-PH9MZFQLJE', { anonymize_ip: true });
</script>