{% raw %}
[api_file]: /api/#File
[api_files]: /api/#Files
[api_metalsmith]: /api/#Metalsmith
[api_method_source]: /api/#Metalsmith+source
[api_method_directory]: /api/#Metalsmith+directory
[api_method_frontmatter]: /api/#Metalsmith+frontmatter
[api_method_metadata]: /api/#Metalsmith+metadata
[api_method_clean]: /api/#Metalsmith+clean
[api_method_match]: /api/#Metalsmith+match
[api_method_env]: /api/#Metalsmith+env
[api_method_debug]: /api/#Metalsmith+debug
[api_method_process]: /api/#Metalsmith+process
[api_method_use]: /api/#Metalsmith+use
[api_method_run]: /api/#Metalsmith+run
[api_method_build]: /api/#Metalsmith+build
[docs_frontmatter]: /docs/getting-started/#front-matter
[docs_globs]: /docs/getting-started/#glob-patterns

[glob_pattern]: https://en.wikipedia.org/wiki/Glob_(programming)
[nodejs_buffer]: https://nodejs.org/api/buffer.html
[file_mode]: https://en.wikipedia.org/wiki/File-system_permissions#Numeric_notation
[plugin_debug-ui]: https://github.com/leviwheatcroft/metalsmith-debug-ui
[plugin_if]: https://github.com/deltamualpha/metalsmith-if
[plugin_html-minifier]: https://github.com/whymarrh/metalsmith-html-minifier
[plugin_branch]: https://github.com/ericgj/metalsmith-branch
[plugin_env]: https://github.com/kalamuna/metalsmith-env
[plugin_wordcount]: https://github.com/majodev/metalsmith-word-count
[plugin_brokenlinks]: https://github.com/davidxmoody/metalsmith-broken-link-checker
[plugin_writemetadata]: https://github.com/Waxolunist/metalsmith-writemetadata
[plugin_injectmetadata]: https://github.com/davidtimmons/metalsmith-inject-metadata
[plugin_filemetadata]: https://github.com/dpobel/metalsmith-filemetadata
[plugin_dirmetadata]: https://github.com/fephil/metalsmith-metadata-directory
[plugin_twig]: https://github.com/PKuebler/metalsmith-twig
[plugin_handlebarsx]: https://github.com/webketje/metalsmith-handlebars-x
[plugin_express]: https://github.com/chiefy/metalsmith-express
[core_plugin_default-values]: https://github.com/metalsmith/default-values
[core_plugin_layouts]: https://github.com/metalsmith/layouts
[core_plugin_in-place]: https://github.com/metalsmith/in-place
[core_plugin_collections]: https://github.com/metalsmith/collections
[core_plugin_markdown]: https://github.com/metalsmith/markdown
[core_plugin_permalinks]: https://github.com/metalsmith/permalinks
[core_plugin_excerpts]: https://github.com/metalsmith/excerpts
[core_plugin_drafts]: https://github.com/metalsmith/drafts
[core_plugin_remove]: https://github.com/metalsmith/remove
[core_plugin_sass]: https://github.com/metalsmith/sass
[core_plugin_postcss]: https://github.com/metalsmith/postcss
[core_plugin_metadata]: https://github.com/metalsmith/metadata
{% endraw %}