<meta property="og:site_name" content="Metalsmith.js">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="website">
<meta property="og:image" content="/img/facebook-image.png" />