<div><ul class="PluginList">
{% for plugin in plugins %}
<li class="Plugin {% if plugin.user == 'metalsmith' %}Plugin--core{% endif %}{% if plugin.status =='unmaintained' %} Plugin--unmaintained{% endif %}">
{% if plugin.status =='unmaintained' %}
<span class="Plugin-notice"><i class="Plugin-noticeIcon ss-alert"></i> This plugin hasn't been updated in <abbr title="5 years">a while</abbr>.</span>
{% endif %}
<a class="Plugin-link" href="{{ plugin.repository }}">
<span class="Plugin-user">{{ plugin.user }}</span>
<h1 class="Plugin-title">
<i class="Plugin-icon ss-{{ plugin.icon }}"></i>{{ plugin.name }}
</h1>
<i class="Plugin-arrow ss-right"></i>
<p class="Plugin-description">{{ plugin.description }}</p>
</a>
<div class="Plugin-badgeContainer">
<a class="Plugin-badge" href="{{ plugin.npmUrl }}">
<img
class="b-lazy"
src="{{ placeholderBadgeUrl }}"
data-src="{{ plugin.npmVersion }}"
alt="npm version"
/>
</a>
<a class="Plugin-badge" href="{{ plugin.npmUrl }}">
<img
class="b-lazy"
src="{{ placeholderBadgeUrl }}"
data-src="{{ plugin.npmDownloads }}"
alt="npm downloads per year"
/>
</a>
{% if plugin.githubStars %}
{# this badge will not work for plugins not hosted on Github #}
<a class="Plugin-badge" href="{{ plugin.repository }}">
<img
class="b-lazy"
src="{{ placeholderBadgeUrl }}"
data-src="{{ plugin.githubStars }}"
alt="GitHub stars"
/>
</a>
{% endif %}
{% if plugin.isCorePlugin %}
<span class="Plugin-badge">
<img src="https://img.shields.io/badge/metalsmith-core_plugin-green.svg" alt="core plugin">
</span>
{% endif %} 
</div>
<code class="Plugin-snippet desktop-only">npm i {{ plugin.npmName }}</code>
</li>
{% endfor %}
</ul></div>